<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="msd.GenesysCreateReportProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="msd.GenesysCreateReportProcess.Properties.Settings.SqlConnectioString"
      connectionString="Server=pre-dbserver01.quodem.net;Database=$$WINTOUR_ROBOT_EOS-LIVE_20240208;User Id=quodem_web;Password=Quowppo10;"
      providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <msd.GenesysCreateReportProcess.Properties.Settings>
      <setting name="StoreProcedureDataName" serializeAs="String">
        <value>sp_hcp_report_new</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>quodem@quodem.com</value>
      </setting>
      <setting name="EmailBodyTemplate" serializeAs="String">
        <value>Le enviamos adjunto el reporte del periodo</value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>no-reply</value>
      </setting>
      <setting name="StoreProcedureTimeControllername" serializeAs="String">
        <value>sp_hcp_report_time_controller_new</value>
      </setting>
      <setting name="StoreProcedurePrepare" serializeAs="String">
        <value>sp_hcp_report_prepare</value>
      </setting>
      <setting name="ProcessDescription" serializeAs="String">
        <value>MSD Generación de Informe</value>
      </setting>
      <setting name="FileExportName" serializeAs="String">
        <value>Efpia_Report.xlsx</value>
      </setting>
      <setting name="FileLogDirectory" serializeAs="String">
        <value>C:\Users\jmartin\Desktop\EOSProcess\</value>
      </setting>
      <setting name="FileExportDirectory" serializeAs="String">
        <value>C:\Users\jmartin\Desktop\EOSProcess\</value>
      </setting>
      <setting name="EmailList" serializeAs="String">
        <value>jmartin@quodem.com</value>
      </setting>
      <setting name="InstanceNumber" serializeAs="String">
        <value />
      </setting>
    </msd.GenesysCreateReportProcess.Properties.Settings>
  </userSettings>
  <appSettings>
    <!-- Configuracion del proceso -->
    <add key="Monitor.LogName" value="procesos\MSD-GenesysCreateReportProcess\log" />
    <add key="Quodem.Monitor.Procesos.Nombre" value="msd.GenesysCreateReportProcess" />
    <add key="Quodem.Monitor.Procesos.Para" value="jmartin@quodem.com" />
    <add key="Quodem.Monitor.Procesos.TipoLog" value="Ejecucion" />
    <add key="Quodem.Monitor.Procesos.EnvioLog" value="Error" />
    <add key="Quodem.Monitor.Procesos.EnvioMail" value="Siempre" />
    <add key="Quodem.Monitor.Procesos.NivelMensajes" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>