/* CSS Document */

body {background-image:url('src/page_bg.png');
background-repeat:repeat-x;
background-color:#90b3a9;
}

.table1 { border:2px;
border-color:#008886;}

.borde
{
background-color:White;
border: 1px solid;
border-color:#25807D;
}
