<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Configure Multiple Factories-->
    <section name="hibernate-configuration-x-factories" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <!-- Configure NHibernate Validator-->
    <section name="nhv-configuration" type="NHibernate.Validator.Cfg.ConfigurationSectionHandler, NHibernate.Validator" />
    <!-- Log Nhibernate -->
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />-->
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="EOS.CadenaConexionSql" connectionString="Server=PRE-DBServer01.quodem.net;Database=WINTOUR_ROBOT_EOS-STAGING;Uid=quodem_web;Pwd=Quowppo10" providerName="Sql.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Cadena de conexion-->
    <add key="Sql.Custom.CadenaConexionSql" value="EOS.CadenaConexionSql" />
    <add key="EOS.CadenaConexionSql" value="Data Source=PRE-DBServer01.quodem.net;Initial Catalog=WINTOUR_ROBOT_EOS-STAGING;user id=quodem_web;Password=Quowppo10"/>
    <!--EOS-Veeva.CadenaConexionSql-->
    <!--Load file NHibernate Configuration-->
    <add key="Quodem.ORM.NHibernate.FileHibernate" value="hibernate.cfg.xml" />
    <!--Load File for MultiConnection-->
    <add key="Quodem.ORM.NHibernate.FileHibernateMultiConnection" value="hibernatemulticonnection.cfg.xml" />
    <!-- Quodem.Monitor -->
    <add key="Monitor.Type" value="LOG" />
    <add key="Monitor.Description" value="eosmsd.com" />
    <add key="Monitor.LogName" value="eosmsd.com.log" />
    <add key="Monitor.CC_Recipients" value="jmartin@quodem.com" />
    <!-- MySQL -->
    <add key="SQL.CommandTimeout" value="180" />
    <!-- Claves Originales -->
    <add key="FiltroInforme" value="Informes/FiltroInforme.aspx" />
    <add key="CarpetaTemp" value="W:\Inetpub\vhosts\eosmsd.com\httpdocs\Informes\src\Temp\" />
    <add key="CarpetaInforme" value="W:\Inetpub\vhosts\eosmsd.com\httpdocs\Informes\src\" />
    <add key="PathDocuments" value="W:\Inetpub\vhosts\eosmsd.com\httpdocs\App_Data\Documentacion\" />
    <add key="PathFicherosExcel" value="W:\Inetpub\vhosts\eosmsd.com\httpdocs\Informes\src\" />
    <!--Logs-->
    <add key="ActivarLog" value="0" />
    <add key="LogPath" value="C:\LOG\Eos\" />
    <add key="LOG_FILE" value="log.txt" />
    <!--EMAILS-->
    <add key="ContactoMail" value="jmartin@quodem.com" />
    <add key="ContactoError" value="jmartin@quodem.com" />
    <add key="CopiaContacto" value="jmartin@quodem.com" />
    <add key="IdEmpresa" value="1257" />
    <!--<add key="AMECUpload" value ="C:\WEB-SERVER\EOS-DOCUMENTACION\AMECS\"/>-->
    <add key="AMECUpload" value="G:\EOS\AMECS\" />
    <!-- Para todo el sistema de gestion de archivos en los expedientes -->
    <!--<add key="AmecDocumentation" value="~/App_Data/Documentacion/AMECS/" />-->
    <add key="AmecDocumentation" value="C:\EOS\AMECS\" />
    <add key="AmecDocumentationTemp" value="~/App_Data/Documentacion/AMECS/Temp/" />
    <!-- Para todo el sistema de gestion de archivos en los expedientes -->
    <add key="MailCopia" value="jmartin@quodem.com" />
    <add key="MailCasosClinicos" value="jmartin@quodem.com" />
    <add key="MailGestorArchivos" value="jmartin@quodem.com" />
    <!--<add key="MailDeptMedico" value="PRCProgramasMe@merck.com"/>
    <add key="MailDeptLegal" value="AMEC_legal@merck.com"/>-->
    <add key="MailDeptMedico" value="jmartin@quodem.com" />
    <add key="MailDeptLegal" value="jmartin@quodem.com" />
    <add key="AmecReunionesInternas" value="999999999" />
    <add key="RutaLinkMailAmec" value="http://eosmsd.com.quodem.net/" />
    <add key="MailCopiaProgramador" value="" />
    <add key="MailCCHCP" value="" />
    <add key="RutaDescargaDocumentacion" value="http://eosmsd.com.quodem.net/DownloadProgramDoc.aspx?Tipodoc=Documentacion" />
    <add key="RutaLogs" value="C:\QUODEM\Temporal\LogFiles\quodem.apps\grupo-pacifico.eosmsd.com\" />
    <!-- Configuración MAIL Alternativa (Se utiliza cuando la otra configuración está fallando, en el cacth del proyecto se envia por esta configuración) -->
    <add key="HostMail" value="smtp-apps.quodem.com" />
    <add key="UserNameMail" value="quodem_smtp" />
    <add key="PortMail" value="25" />
    <add key="PasswordMail" value="Planner12" />
    <!-- FIN Configuracion MAIL Alternativa-->
    <!-- Tiempo límite de conexión -->
    <add key="LimiteComandoConexion" value="50000" />
    <!-- FIN Tiempo límite de conexión -->
    <!-- JLG:son las variables de etiquetas y control de AMECS para que la herramienta se pueda utilizar con otros clientes y desactivar el modulo de amecs -->
    <add key="codigoPresupuesto" value="AMEC" />
    <add key="codigoInvitado" value="MSDID" />
    <add key="controlPresupuesto" value="1" />
    <add key="informesGrupos" value="1" />
    <add key="runType" value="DEVELOPMENT" />
    <!-- FIN de variables de etiquetas y control de AMECS. -->
    <!-- Configuration token y servicios-->
    <add key="Data.Interoperability.MaxSessionTime" value="3600" />
    <!-- Configuraciones para servicios API -->
    <add key="API.PeticionariosList.PageSize" value="100" />
    <add key="API.PassengersList.PageSize" value="1000" />
    <add key="API.Service.PageSize" value="1000" />
    <!--Ip Quodem para login falso-->
    <add key="QuodemIp" value="77.225.97.180" />
    <!--Claves de Integración con SAML de MSD-->
    <add key="Quodem.SamlClaimsKey" value="NzIzZWQ1YzUtM2UxMy00YmUzLWIzOWYtZDgyMDczYjY1NWU2" />
    <add key="Quodem.SamlIV" value="NDNhMTQwMzYtNjg3NC00N2E0LTkyN2YtYjVkNjZjMTJjNmM5" />
    <add key="Quodem.SamlKey" value="YmE4MjZmMTctOWE0NC00ZGFhLWE4MjUtNzFkOGIzM2JhNGQ0" />
    <add key="Quodem.AppName" value="EOSWEB" />
    <add key="Quodem.MobileAppName" value="" />
    <add key="Quodem.MiddlewareAuthority" value="http://saml-msd.quodem.net" />
    <add key="Quodem.UserPass" value="Teamsix3000." />
    <add key="Eos.ConnectionStringName" value="EOS.CadenaConexionSql" />
    <add key="Calculadora.IdPeticionActividadDefault" value="300300000" />
  </appSettings>
  <system.web>
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="eosc" tagName="TarifasInscripcionPanel" src="~/Controls/TarifasInscripcionPanel.ascx" />
        <add tagPrefix="eosc" tagName="OtrosServiciosPanel" src="~/Controls/OtrosServiciosPanel.ascx" />
        <add tagPrefix="eosc" tagName="OtrosServiciosColectivosPanel" src="~/Controls/OtrosServiciosColectivosPanel.ascx" />
        <add tagPrefix="eosc" tagName="AlojamientoPanel" src="~/Controls/AlojamientoPanel.ascx" />
        <add tagPrefix="eosc" tagName="TransportePanel" src="~/Controls/TransportePanel.ascx" />
        <add tagPrefix="eos" assembly="EOS.Web" namespace="EOS.Web.Controls" />
        <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="Account/GenericErrorPage.aspx" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="100000" protection="All" slidingExpiration="true" defaultUrl="~/Expedientes.aspx" />
    </authentication>
    <membership defaultProvider="ProveedorGP">
      <providers>
        <clear />
        <add name="ProveedorGP" type="EOS.Web.GPMembershipProvider, EOS.Web" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--<httpHandlers>
      <add verb="GET" path="*.exd"  type="EOS.Web.DesplegablesHandler, EOS.Web"/>
    </httpHandlers>-->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!-- This is use for the Master Page THEME-->
    <httpRuntime executionTimeout="500" maxRequestLength="16384" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
  </system.web>
  <system.net>
    <!-- MAIL GP  -->
    <mailSettings>
      <smtp from="eos@quodem.com">
        <network host="smtp-apps.quodem.com" port="25" userName="quodem_smtp" password="Planner12" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="gp">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="amex">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="cookieSetter.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="chrome=1" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="Expedientes.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28F01B0E84B6D53E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.40412.0" newVersion="4.1.40412.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.connection_string">Data Source=PRE-DBServer01.quodem.net;Initial Catalog=WINTOUR_ROBOT_EOS-STAGING;Integrated Security=False;Persist Security Info=True;User ID=quodem_web;Password=Quowppo10</property>
      <mapping assembly="EOS.ServiceModel" />
    </session-factory>
  </hibernate-configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="40480000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>